<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CUEAudioVisualizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
    <userSettings>
        <CUEAudioVisualizer.Properties.Settings>
            <setting name="PrimaryColor" serializeAs="String">
                <value>150, 150, 255</value>
            </setting>
            <setting name="SecondaryColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="DeviceIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="VisualizerMode" serializeAs="String">
                <value>Spectrum,Spectrum</value>
            </setting>
            <setting name="VolumeModifier" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SmoothingModifier" serializeAs="String">
                <value>0</value>
            </setting>
        </CUEAudioVisualizer.Properties.Settings>
    </userSettings>
</configuration>
